@model Casgem_Dapper.DAL.Entities.Headings
@{
    Layout = null;
}

<div class="container">

    <br />
    <br />

    <form method="post">

        <label>Başlık</label>
        <input type="text" class="form-control" asp-for="HeadingName"/>

      <button class="accordion-flush">dasdasd</button>

    </form>

</div>