@model Casgem_Dapper.DAL.Entities.Headings

@{
    Layout = null;
}

<!DOCTYPE html>

<div class="container">

    <br />
    <br />

    <form method="post">
        <input type="hidden" class="form-control" asp-for="HeadingID" />
        <label>Başlık</label>
        <input type="text" class="form-control" asp-for="HeadingName" />

        <label>Başlık</label>
        <input type="text" class="form-control" asp-for="HeadingStatus" />

        <button class="accordion-flush">dasdasd</button>

    </form>

</div>